package auth

import (
	l10n "fantacode/ecomm/internal/app/server/middleware"
	"fantacode/ecomm/internal/app/server/ui/components/button"
	"fantacode/ecomm/internal/app/server/ui/components/form"
	"fantacode/ecomm/internal/app/server/ui/components/input"
	"fantacode/ecomm/internal/app/server/ui/layout"
	opera "github.com/colafanta/go-opera"
	"github.com/gofiber/fiber/v3"
	"github.com/nicksnyder/go-i18n/v2/i18n"
)

templ LoginPage(c fiber.Ctx) {
	{{ t := fiber.Locals[*i18n.Localizer](c, l10n.KeyI18nLocalizer) }}
	@layout.LandingLayout() {
		<div class="h-full flex justify-center items-center">
			<div class="flex flex-col gap-4 items-center justify-center px-4 w-full max-w-2xl">
				<form
					hx-boost="true"
					hx-swap="none"
					method="post"
					action="/auth/unpw/login"
					class="flex flex-col gap-3 min-w-sm"
					_="on htmx:after:request
												if event.detail.ctx.response.status < 400 then
							set window.location.href to '/api'
						end"
				>
					<div class="flex flex-col items-center gap-1 text-center">
						<h1 class="text-2xl font-bold">{ opera.Must(t.LocalizeMessage(&i18n.Message{ID: "Login"})) }</h1>
						<p class="text-muted-foreground text-sm text-balance">{ opera.Must(t.LocalizeMessage(&i18n.Message{ID: "LoginWithUnpw"})) }</p>
					</div>
					@form.Item() {
						@form.Label(form.LabelProps{
							For: "username-input",
						}) {
							{ opera.Must(t.LocalizeMessage(&i18n.Message{ID: "Username"})) }
						}
						@input.Input(input.Props{
							ID:          "username-input",
							Name:        "user",
							Type:        input.TypeText,
							Placeholder: opera.Must(t.LocalizeMessage(&i18n.Message{ID: "InputUsernameHere"})),
							Attributes: templ.Attributes{
								"required": true,
								"pattern":  "[a-zA-Z0-9_\\-]+",
							},
						})
					}
					@form.Item() {
						@form.Label(form.LabelProps{
							For: "password-input",
						}) {
							{ opera.Must(t.LocalizeMessage(&i18n.Message{ID: "Password"})) }
						}
						@input.Input(input.Props{
							ID:          "password-input",
							Name:        "passwd",
							Type:        input.TypePassword,
							Placeholder: opera.Must(t.LocalizeMessage(&i18n.Message{ID: "InputPasswordHere"})),
							Attributes: templ.Attributes{
								"required":  true,
								"minlength": "8",
							},
						})
					}
					@form.Item() {
						@button.Button(button.Props{
							Class: "w-full",
							Type:  button.TypeSubmit,
						}) {
							{ opera.Must(t.LocalizeMessage(&i18n.Message{ID: "Login"})) }
						}
					}
				</form>
				<p data-slot="field-description" class="text-muted-foreground text-sm leading-normal font-normal group-has-data-[orientation=horizontal]/field:text-balance last:mt-0 nth-last-2:-mt-1 [[data-variant=legend]+&amp;]:-mt-1.5 [&amp;&gt;a:hover]:text-primary [&amp;&gt;a]:underline [&amp;&gt;a]:underline-offset-4 text-center">
					{ opera.Must(t.LocalizeMessage(&i18n.Message{ID: "DontHaveAccount"})) }
					<a href="/signup" class="underline underline-offset-4">{ opera.Must(t.LocalizeMessage(&i18n.Message{ID: "SignUp"})) }</a>
				</p>
			</div>
		</div>
	}
}
