package inbox

import (
	"fantacode/ecomm/internal/admsvr/router/api/apicm"
	"fantacode/ecomm/internal/biz/l10n"
	. "github.com/colafanta/go-opera"
	"github.com/gofiber/fiber/v3"
	"github.com/nicksnyder/go-i18n/v2/i18n"
)

templ InboxPage(c fiber.Ctx) {
	{{ t := fiber.Locals[*i18n.Localizer](c, l10n.KeyI18nLocalizer) }}
	@apicm.AdminLayout(c) {
		<div class="h-full flex justify-center items-center">
			<div class="flex flex-col gap-4 items-center justify-center px-4 w-full max-w-2xl">
				<div class="text-center space-y-4">
					<h1 class="text-5xl font-bold tracking-tight">{ Must(t.LocalizeMessage(&i18n.Message{ID: "Inbox"})) }</h1>
					<p class="text-muted-foreground text-lg max-w-md mx-auto">
						{ Must(t.LocalizeMessage(&i18n.Message{ID: "NoNewMessages"})) }
					</p>
				</div>
			</div>
		</div>
	}
}
