APP_URL=':3000'
DATABASE_DSN='host=localhost user=postgres password=mysupersecret dbname=postgres port=5432 sslmode=disable'
DATABASE_SCHEMA='biz'
REDIS_URL='redis://<user>:<pass>@localhost:6379/<db>'
LANGUAGE='zh'
AUTH_SECRET='your-secret-key'
AUTH_ISSUER='your-app-name'
AUTH_URL='http://localhost:3000'
AUTH_TOKEN_DURATION=2
AUTH_COOKIE_DURATION=168
AUTH_WHITE_LIST='DEMO_USER'