package rbac

import (
	"fantacode/ecomm/internal/admsvr/router/api/apicm"
	"fantacode/ecomm/internal/admsvr/ui/components/table"
	"fantacode/ecomm/internal/biz/l10n"
	"fantacode/ecomm/internal/biz/rbac"
	. "github.com/colafanta/go-opera"
	"github.com/gofiber/fiber/v3"
	"github.com/nicksnyder/go-i18n/v2/i18n"
)

func getPermissionsData(c fiber.Ctx) []rbac.Permission {
	return fiber.Locals[[]rbac.Permission](c, keyPermissionsData)
}

templ PermissionsPage(c fiber.Ctx) {
	{{ t := fiber.Locals[*i18n.Localizer](c, l10n.KeyI18nLocalizer) }}
	@apicm.AdminLayout(c) {
		<h1 class="text-2xl font-semibold py-3">{ Must(t.LocalizeMessage(&i18n.Message{ID: "Permissions"})) }</h1>
		@table.Table() {
			@table.Header() {
				@table.Row() {
					@table.Head() {
						{ Must(t.LocalizeMessage(&i18n.Message{ID: "Name"})) }
					}
					@table.Head() {
						{ Must(t.LocalizeMessage(&i18n.Message{ID: "Resource"})) }
					}
					@table.Head() {
						{ Must(t.LocalizeMessage(&i18n.Message{ID: "Action"})) }
					}
				}
			}
			@table.Body() {
				for _, perm := range getPermissionsData(c) {
					@table.Row() {
						@table.Cell() {
							{ perm.Name }
						}
						@table.Cell() {
							{ perm.Resource }
						}
						@table.Cell() {
							{ perm.Action }
						}
					}
				}
				@table.Footer() {
					@table.Row() {
						@table.Head() {
							{ len(getPermissionsData(c)) } { Must(t.LocalizeMessage(&i18n.Message{ID: "Items"})) }
						}
					}
				}
			}
		}
	}
}
