package layout

import (
	"fantacode/ecomm/internal/admsvr/ui/block"
	"fantacode/ecomm/internal/admsvr/ui/components/collapsible"
	"fantacode/ecomm/internal/admsvr/ui/components/dialog"
	"fantacode/ecomm/internal/admsvr/ui/components/dropdown"
	"fantacode/ecomm/internal/admsvr/ui/components/input"
	"fantacode/ecomm/internal/admsvr/ui/components/popover"
	"fantacode/ecomm/internal/admsvr/ui/components/selectbox"
	"fantacode/ecomm/internal/admsvr/ui/components/sidebar"
	"fantacode/ecomm/internal/admsvr/ui/components/tabs"
)

templ BaseLayout() {
	<!DOCTYPE html>
	<html lang="en" class="h-full dark">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			@block.ThemeSwitcherScript()
			@collapsible.Script()
			@dropdown.Script()
			@dialog.Script()
			@input.Script()
			@popover.Script()
			@selectbox.Script()
			@sidebar.Script()
			@tabs.Script()
			<link href="/assets/css/output.css" rel="stylesheet"/>
			<link href="/assets/css/gprogress.css" rel="stylesheet"/>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/hyperscript.org@0.9.14/dist/_hyperscript.min.js"></script>
			<script>
				function getCookie(name) {
					const value = `; ${document.cookie}`
					const parts = value.split(`; ${name}=`)
					if (parts.length === 2) return parts.pop().split(';').shift()
					return null
				}


				htmx.on("htmx:configRequest", (evt) => {
					if (evt.detail.verb && evt.detail.verb.toUpperCase() === "GET") return
					const xsrf = getCookie("XSRF-TOKEN")
					if (!xsrf) return
					evt.detail.headers["X-XSRF-TOKEN"] = xsrf
				})

				htmx.on("htmx:responseError",
					(evt) => {
						switch (evt.detail.xhr.status) {
							case 401:
								alert("Session expired: Please log in again.")
								return
							case 403:
								alert("Access denied: You do not have permission to view this resource.")
								return
						}
						if (evt.detail.xhr.status >= 400 && evt.detail.xhr.status < 500)
							alert("Request error: Please check your input and try again.")
						if (evt.detail.xhr.status >= 500)
							alert("Server error: Please try again later.")
					})
				htmx.on("htmx:sendError", (evt) => {
					alert("Network error: Please check your internet connection and try again.")
				})
				
			</script>
			<title>FantaCode Admin</title>
		</head>
		<body class="h-full" hx-indicator="#gprogress">
			<div id="gprogress" class="gprogress" style="height: 3px; background-color: var(--border)">
				<div class="g-indeterminate" style="background-color: var(--primary)"></div>
			</div>
			{ children... }
		</body>
	</html>
}
