package user

import (
	"fantacode/ecomm/internal/admsvr/router/api/apicm"
	"fantacode/ecomm/internal/admsvr/ui/block"
	"fantacode/ecomm/internal/admsvr/ui/components/badge"
	"fantacode/ecomm/internal/admsvr/ui/components/button"
	"fantacode/ecomm/internal/admsvr/ui/components/card"
	"fantacode/ecomm/internal/admsvr/ui/components/form"
	"fantacode/ecomm/internal/admsvr/ui/components/icon"
	"fantacode/ecomm/internal/admsvr/ui/components/input"
	"fantacode/ecomm/internal/admsvr/ui/components/selectbox"
	"fantacode/ecomm/internal/admsvr/ui/components/table"
	"fantacode/ecomm/internal/biz/dao/model"
	"fantacode/ecomm/internal/biz/l10n"
	"fantacode/ecomm/internal/gorm/gormq"
	"fmt"
	. "github.com/colafanta/go-opera"
	"github.com/gofiber/fiber/v3"
	"github.com/nicksnyder/go-i18n/v2/i18n"
	"github.com/samber/lo"
	"net/url"
)

templ UserTableLayout(c fiber.Ctx) {
	{{ t := fiber.Locals[*i18n.Localizer](c, l10n.KeyI18nLocalizer) }}
	@apicm.AdminLayout(c) {
		<h1 class="text-2xl font-semibold py-3">{ Must(t.LocalizeMessage(&i18n.Message{ID: "UserManagement"})) }</h1>
		<div class="w-full my-0.5 flex items-center justify-between gap-3">
			<form id="filters" hx-boost="true" hx-target="#data-table" action="" class="max-w-sm">
				@form.Item() {
					@form.Label(form.LabelProps{
						For: "search",
					}) {
						{ Must(t.LocalizeMessage(&i18n.Message{ID: "Search"})) }
					}
					@form.ItemFlex(form.ItemProps{Class: "w-full"}) {
						<div class="flex-1">
							@input.Input(input.Props{
								ID:          "search",
								Type:        input.TypeSearch,
								Name:        "search",
								Value:       c.Query("search"),
								Placeholder: Must(t.LocalizeMessage(&i18n.Message{ID: "InputUsernameEmailPhone"})),
							})
						</div>
						@button.Button(button.Props{
							Size:    button.SizeIcon,
							Variant: button.VariantSecondary,
							Type:    button.TypeSubmit,
						}) {
							@icon.Search()
						}
					}
				}
				<input id="page_no" type="hidden" name="_page" value={ MaybeEmpty(c.Query("_page")).Or("1") }/>
			</form>
			<div class="flex items-center gap-2">
				@button.Button(button.Props{
					Size: button.SizeIcon,
					Href: apicm.ApiBasePath + "/users/create",
				}) {
					@icon.Plus()
				}
			</div>
		</div>
		<div id="data-table" class="mt-6">
			{ children... }
		</div>
	}
}

templ userTable(c fiber.Ctx) {
	{{
		t := fiber.Locals[*i18n.Localizer](c, l10n.KeyI18nLocalizer)
		res := fiber.Locals[gormq.GetListResponse[model.Account]](c, keyUserTableData)
		data := res.Data
	}}
	@table.Table() {
		@table.Header() {
			@table.Row() {
				@table.Head() {
					{ Must(t.LocalizeMessage(&i18n.Message{ID: "Name"})) }
				}
				@table.Head() {
					{ Must(t.LocalizeMessage(&i18n.Message{ID: "Email"})) }
				}
				@table.Head() {
					{ Must(t.LocalizeMessage(&i18n.Message{ID: "EmailVerified"})) }
				}
				@table.Head() {
					{ Must(t.LocalizeMessage(&i18n.Message{ID: "Phone"})) }
				}
				@table.Head() {
					{ Must(t.LocalizeMessage(&i18n.Message{ID: "PhoneVerified"})) }
				}
				@table.Head() {
					{ Must(t.LocalizeMessage(&i18n.Message{ID: "Role"})) }
				}
				@table.Head() {
					{ Must(t.LocalizeMessage(&i18n.Message{ID: "Actions"})) }
				}
			}
		}
		@table.Body() {
			for _, d := range data {
				@table.Row() {
					@table.Cell() {
						{ MaybeNilPtr(d.PreferredUsername).OrEmpty() }
					}
					@table.Cell() {
						{ MaybeNilPtr(d.Email).OrEmpty() }
					}
					@table.Cell() {
						if MaybeNilPtr(d.EmailVerified).OrEmpty() {
							✅
						} else {
							⛔
						}
					}
					@table.Cell() {
						{ MaybeNilPtr(d.PhoneNumber).OrEmpty() }
					}
					@table.Cell() {
						if MaybeNilPtr(d.PhoneNumberVerified).OrEmpty() {
							✅
						} else {
							⛔
						}
					}
					@table.Cell() {
						if d.Admin != nil {
							@badge.Badge(
								badge.Props{
									Variant: badge.VariantSecondary,
								}) {
								{ d.Admin.Role }
							}
						}
					}
					@table.Cell() {
						@button.Button(button.Props{
							Variant: button.VariantOutline,
							Size:    button.SizeIcon,
							Href:    c.Path() + "/" + d.Sub.String(),
						}) {
							@icon.PenLine()
						}
						@button.Button(button.Props{
							Variant: button.VariantDestructive,
							Size:    button.SizeIcon,
							Attributes: templ.Attributes{
								"hx-delete":  c.Path() + "/" + url.PathEscape(d.Sub.String()),
								"hx-confirm": Must(t.LocalizeMessage(&i18n.Message{ID: "SureToDelete"})),
								"hx-target":  "closest tr",
								"hx-swap":    "delete",
							},
						}) {
							@icon.Trash()
						}
					}
				}
			}
		}
	}
	{{ curr, total := res.Page, res.Total/res.Size+lo.Ternary(res.Total%res.Size > 0, 1, 0) }}
	@block.Pagination(block.PaginationProps{
		CurrentPage: curr,
		TotalPages:  total,
	})
}

templ UserCuForm(c fiber.Ctx) {
	{{
		t := fiber.Locals[*i18n.Localizer](c, l10n.KeyI18nLocalizer)
		user := fiber.Locals[model.Account](c, userDetailDataKey)
		isEditing := MaybeEmpty(user).IsSome()
	}}
	@apicm.AdminLayout(c) {
		<h1 class="text-2xl font-semibold py-3">{ Must(t.LocalizeMessage(&i18n.Message{ID: "UserManagement"})) }</h1>
		<div class="mt-2 flex px-4 pb-10">
			@card.Card(card.Props{Class: "w-full max-w-2xl"}) {
				@card.Header() {
					@card.Title() {
						if isEditing {
							{ Must(t.LocalizeMessage(&i18n.Message{ID: "EditUser"})) }
						} else {
							{ Must(t.LocalizeMessage(&i18n.Message{ID: "CreateNewUser"})) }
						}
					}
				}
				@card.Content() {
					<form
						hx-put={ apicm.ApiBasePath + "/users" }
						hx-swap="none"
						_={ fmt.Sprintf(`on htmx:afterRequest
								if event.detail.successful then
									alert('%s')
									set window.location.href to '.'
								end`, Must(t.LocalizeMessage(&i18n.Message{ID: "UserSavedSuccessfully"}))) }
					>
						@form.Item() {
							@form.Label(form.LabelProps{
								For: "account_id",
							}) {
								{ Must(t.LocalizeMessage(&i18n.Message{ID: "AccountID"})) }
							}
							@input.Input(input.Props{
								ID:          "account_id",
								Type:        input.TypeText,
								Name:        "sub",
								Value:       lo.Ternary(lo.IsEmpty(user.Sub), "", user.Sub.String()),
								Readonly:    true,
								Disabled:    !isEditing,
								Placeholder: Must(t.LocalizeMessage(&i18n.Message{ID: "NoNeedToFill"})),
							})
						}
						<div class="my-4"></div>
						@form.Item() {
							@form.Label(form.LabelProps{
								For: "username",
							}) {
								{ Must(t.LocalizeMessage(&i18n.Message{ID: "UserName"})) }
							}
							@input.Input(input.Props{
								ID:          "username",
								Name:        "username",
								Placeholder: Must(t.LocalizeMessage(&i18n.Message{ID: "EnterUsername"})),
								Value:       MaybeNilPtr(user.PreferredUsername).OrEmpty(),
								Attributes: templ.Attributes{
									"required":  true,
									"minlength": "5",
									"maxlength": "30",
									"pattern":   "[a-zA-Z0-9_\\-]+",
								},
							})
						}
						<div class="my-4"></div>
						@form.Item() {
							@form.Label(form.LabelProps{
								For: "password",
							}) {
								{ Must(t.LocalizeMessage(&i18n.Message{ID: "Password"})) }
							}
							@input.Input(input.Props{
								ID:          "password",
								Type:        input.TypePassword,
								Name:        "password",
								Placeholder: Must(t.LocalizeMessage(&i18n.Message{ID: "EnterPassword"})),
								Value:       MaybeNilPtr(user.Password).OrEmpty(),
								Attributes: templ.Attributes{
									"required":  true,
									"minlength": "8",
								},
							})
						}
						<div class="my-4"></div>
						@form.Item() {
							@form.Label(form.LabelProps{
								For: "email",
							}) {
								{ Must(t.LocalizeMessage(&i18n.Message{ID: "Email"})) }
							}
							@input.Input(input.Props{
								ID:          "email",
								Type:        input.TypeEmail,
								Name:        "email",
								Placeholder: Must(t.LocalizeMessage(&i18n.Message{ID: "EnterEmail"})),
								Value:       MaybeNilPtr(user.Email).OrEmpty(),
								Attributes: templ.Attributes{
									"required": true,
									"pattern":  "[a-z0-9._%+\\-]+@[a-z0-9.\\-]+\\.[a-z]{2,}$",
								},
							})
						}
						<div class="my-4"></div>
						@form.Item() {
							@form.Label(form.LabelProps{
								For: "phone_number",
							}) {
								{ Must(t.LocalizeMessage(&i18n.Message{ID: "PhoneNumber"})) }
							}
							@input.Input(input.Props{
								ID:          "phone_number",
								Type:        input.TypeTel,
								Name:        "phone_number",
								Placeholder: Must(t.LocalizeMessage(&i18n.Message{ID: "EnterPhoneNumber"})),
								Value:       MaybeNilPtr(user.PhoneNumber).OrEmpty(),
								Attributes: templ.Attributes{
									"pattern": "\\+?[1-9]\\d{1,14}",
								},
							})
						}
						<div class="my-4"></div>
						@form.Item() {
							@form.Label(form.LabelProps{
								For: "role",
							}) {
								{ Must(t.LocalizeMessage(&i18n.Message{ID: "Role"})) }
							}
							@selectbox.SelectBox(selectbox.Props{
								Attributes: templ.Attributes{
									"required": true,
								},
							},
							) {
								@selectbox.Trigger(selectbox.TriggerProps{
									Name: "role",
								}) {
									@selectbox.Value(selectbox.ValueProps{
										Placeholder: Must(t.LocalizeMessage(&i18n.Message{ID: "SelectARole"})),
									})
								}
								@selectbox.Content() {
									@selectbox.Group() {
										for _, role := range getAllRoles(c).Yield() {
											@selectbox.Item(selectbox.ItemProps{
												Value:    role.Name,
												Selected: MaybeEmpty(user.Admin).IsSome() && user.Admin.Role == role.Name,
											}) {
												{ role.Name }
											}
										}
									}
								}
							}
						}
						<div class="my-6"></div>
						<div class="flex justify-center">
							@button.Button(button.Props{
								Type: button.TypeSubmit,
							}) {
								{ Must(t.LocalizeMessage(&i18n.Message{ID: "Submit"})) }
							}
						</div>
					</form>
				}
			}
		</div>
	}
}
