package layout

import "fantacode/ecomm/internal/app/ui/block"

templ LandingLayout() {
	@BaseLayout() {
		<div class="h-full flex flex-col">
			@block.Navbar()
			<main class="flex-1">
				{ children... }
			</main>
		</div>
	}
}
